body {
    font-family: LatoLatinWebMedium,sans-serif;
    font-weight: 400;
    whitespace: pre-wrap;
}

.md-typeset figcaption, .md-typeset figcaption p {
    margin-top: 0.5em;
}

.md-typeset a, .md-typeset h2 a:hover, .md-nav__title a:hover, .md-nav__item .md-nav__link--active {
    color: var(--md-default-fg-color--light);
}

.md-typeset h2 a, .md-nav__title, .md-nav__title a, .md-nav__item .md-nav__link--active:hover {
    color: red;
}

.md-main__inner {
    margin-top: 0.1rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    margin-left: 12.5rem;
    height: 1.9rem;
}

/* Top menu size --> */
[dir=ltr] .md-tabs__list {
    margin-left: 12.7rem;
}

.md-tabs__item {
    height: 1.4rem;
}

.md-tabs__link {
    margin-top: 0.2rem;
}
/* Top menu size <-- */

@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title {
        height: 2rem;
    }
}

.video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.md-typeset figure p {
    text-align: center;
    margin-bottom: 0.5em;
}

.tb-sidebar {
    margin-top: 1rem;
}

.tb-sidebar img {
    padding-top: 0.5rem;
}

.tb-sidebar p {
    text-align: justify;
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}

.tb-ext {
    width: 100%;
}

.tb-ext hr {
    margin: 0.8em 0;
}

.tb-ext-grid {
    position: relative;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
}

.tb-ext-grid__img img {
    width: 7.5rem;
}

.tb-ext-grid__desc {
    margin: auto 0 auto 1em;
    font-size: 0.7rem;
    line-height: 1.3;
    min-width: 50%;
    max-width: 74%;
}

.tb-ext-grid__desc .md-button--primary {
    margin-top: 1em;
    width: 100%;
    text-align: center;
}

.tb-ext-grid__desc .md-button--primary,
[data-form="7e5ea679-a893-11ec-9258-0241b9615763"] .main-form input[type=submit]:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}

.tb-ext-grid__desc .md-button--primary:hover,
[data-form="7e5ea679-a893-11ec-9258-0241b9615763"] .main-form input[type=submit]:hover {
    background-color: var(--md-default-bg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-fg-color);
}

[data-form="7e5ea679-a893-11ec-9258-0241b9615763"] .text-center .mastfoot {
    display: none;
}

[data-form="7e5ea679-a893-11ec-9258-0241b9615763"] .main-form input {
    font-weight: 700;
    border-radius: 0.1rem;
    padding: 0.5em;
}

img {
    margin: auto;
    display: block;
}

a.md-social__link {
    height: 2rem;
    width: 2rem;
}

.md-social__link svg {
    max-height: 1.4rem;
}

.md-typeset .admonition.none,
.md-typeset details.none {
    margin-left: 2rem;
    margin-right: 1rem;
    font-size: .8rem;
    text-align: justify;
    border: none;
    box-shadow: none;
}

.md-typeset .none > .admonition-title,
.md-typeset .none > summary {
    padding-left: .6rem;
    padding-right: .6rem;
    padding-bottom: 0;
    margin-left: -2.8rem;
    margin-right: 0;
    font-size: 1.5625em;
    line-height: 1.4;
    font-weight: 600;
    color: var(--md-accent-fg-color);
    letter-spacing: -.01em;
    background-color: var(--md-default-bg-color--light);
}
.md-typeset .none > .admonition-title > span {
    margin-right: .4rem;
}

.md-typeset .none > .admonition-title::before,
.md-typeset .none > summary::before {
    all: initial;
}
.md-typeset p.tb_contact_text {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
